extends layout

block head
  link(rel='stylesheet', href='/stylesheets/datepicker.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap-image-gallery.min.css')
  link(rel='stylesheet', href='//blueimp.github.io/Gallery/css/blueimp-gallery.min.css')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
  title HTL Suica Hotel & Resort - Home
  
block content
  //- Search big
  include search.jade
  
  //- Banner Mercadopago
  include mercadopago.jade
  
  //- Description
  - var hotel = {name: 'Suíça Hotel & Resort', address: 'Av Felipe Wanscheer 3580 - Jd Sao Paulo, Foz do Iguaçu, Brazil', subtitle: 'Le damos la bienvenida a Suíça Hotel & Resort' }
  
  div.container.content.styleb
    div.row
      div.col-sm-7
        p.title #{hotel.name} 
        p.subtitle #{hotel.subtitle} 
        p.description
          span.bold #{hotel.name} 
          | te sorprende con un estilo vanguardista de motivos geométricos y colores vivos.
          | Un innovador  uso de madera curvada combinado con elementos de cristal y materiales de última generación, creando un ambiente de relax y distracción.
        p.description
          span.bold #{hotel.name} 
          | se compromete a garantizarte una estancia satisfactoria y confortable en Buenos Aires.
      div.col-sm-5.mtb20
        div.gallery.o
          a.img-rhh-t2(style='background-image: url(images/vista.jpg);' href='/images/vista.jpg' title="Vista de habitacion" data-gallery)
  //- Location y amenities
  div.container.content
    div.row
      div.col-sm-6.col-md-8
        p.sTitle Ubicacion
        p.sSubtitle #{hotel.address}
        div.embed-responsive.embed-responsive-16by9
          div#map
  
      div.col-sm-6.col-md-4
        p.sTitle Amenities
        p.sSubtitle Servicios incluidos
        div.row.amenities
          //- First Colum
          div.col-xs-6
            ul.list-unstyled
              li(data-toggle='tooltip' data-placement='top' title='Wifi en el sotano del  hotel donde vive el encargado')
                i.fa.fa-wifi.fa-lg.icon
                span.amt-name
                  | Wi-Fi
              li(data-toggle='tooltip' data-placement='top' title='Cancha de 11 en el lobby')
                i.fa.fa-futbol-o.fa-lg.icon
                span.amt-name
                  | Cancha de Futbol
              li(data-toggle='tooltip' data-placement='top' title='TV de 42" en cada habitacion para ver los partidos del lobby')
                i.fa.fa-television.fa-lg.icon
                span.amt-name
                  | TV por Cable
          //- Second Colum
          div.col-xs-6
            ul.list-unstyled
              li(data-toggle='tooltip' data-placement='top' title='Todo lo que puedas comer despues del partido')
                i.fa.fa-cutlery.fa-lg.icon
                span.amt-name
                  | Almuerzo
              li(data-toggle='tooltip' data-placement='top' title='Para tomar algo despues de comer')
                i.fa.fa-glass.fa-lg.icon
                span.amt-name
                  | Bar
              li(data-toggle='tooltip' data-placement='top' title='Comparti con tus amigos las mejores jugadas del partido usando wifi')
                i.fa.fa-desktop.fa-lg.icon
                span.amt-name
                  | Computadora
          //- Button More
          div.col-xs-12 
            p.amt-more
              a(href='' data-toggle='modal' data-target='#amenities-inc')
                i.fa.fa-plus
                span.amt-name 
                  | ver todos
        // Optional amenities
        p.sSubtitle.last Servicios Opcionales
        div.row.amenities
          //- First Colum
          div.col-xs-6
            ul.list-unstyled
              li(data-toggle='tooltip' data-placement='top' title='Wifi en el sotano del  hotel donde vive el encargado')
                i.fa.fa-wifi.fa-lg.icon
                span.amt-name
                  | Wi-Fi
              li(data-toggle='tooltip' data-placement='top' title='Comparti con tus amigos las mejores jugadas del partido')
                i.fa.fa-futbol-o.fa-lg.icon
                span.amt-name
                  | Cancha de Futbol
          //- Second Colum
          div.col-xs-6
            ul.list-unstyled
              li(data-toggle='tooltip' data-placement='top' title='Comparti con tus amigos las mejores jugadas del partido')
                i.fa.fa-cutlery.fa-lg.icon
                span.amt-name
                  | Almuerzo
              li(data-toggle='tooltip' data-placement='top' title='Comparti con tus amigos las mejores jugadas del partido')
                i.fa.fa-glass.fa-lg.icon
                span.amt-name
                  | Bar
          //- Button More
          div.col-xs-12 
            p.amt-more
              a(href='' data-toggle='modal' data-target='#amenities-opt')
                i.fa.fa-plus
                span.amt-name 
                  | ver todos              
  div.container-fluid.promo
    div.container.pt30
      // Promos title + line
      div.col-md-4.line
      div.col-md-4
        p.title Promociones
      div.col-md-4.line
      div.clearfix
        
      // Promos
      // Promo #1
      div.col-md-3
        a.clean(href='/promocion')
          div.panel.panel-info
            div.panel-heading
              span Viajé en Familia
            div.panel-body
              img.img-responsive(src='images/promo/family.jpg' alt='')
              span.fa-stack.fa-lg.icon
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-flag.fa-stack-1x.fa-inverse
      // Promo #2
      div.col-md-3
        a.clean(href='/promocion')
          div.panel.panel-info
            div.panel-heading
              span Promo Romántica
            div.panel-body
              img.img-responsive(src='images/promo/romance.png' alt='')
              span.fa-stack.fa-lg.icon
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-flag.fa-stack-1x.fa-inverse
      // Promo #3
      div.col-md-3
        a.clean(href='/promocion')
          div.panel.panel-info
            div.panel-heading
              span Early Booking Bonus
            div.panel-body
              img.img-responsive(src='images/promo/early.png' alt='')
              span.fa-stack.fa-lg.icon
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-flag.fa-stack-1x.fa-inverse
      // Promo #4
      div.col-md-3
        a.clean(href='/promocion')
          div.panel.panel-info
            div.panel-heading
              span Pago en 12 cuotas
            div.panel-body
              img.img-responsive(src='images/promo/cuotas.png' alt='')
              span.fa-stack.fa-lg.icon
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-flag.fa-stack-1x.fa-inverse
      div.clearfix
      div.col-xs-12
        p.text-center
          a.btn.btn-promo(href='/promociones') Ver todas las promociones
          
  // Habitaciones   
  div.container.content
    div.row.pt30
      div.col-md-12
        p.sTitle Habitaciones
      // Room #1  
      div.col-md-4.media-cont 
        div.thumbnail
          a.clean(href='/promociones')
            img.img-responsive(src='images/room/room1.jpg' alt='Loft Doble')
            div.caption
              p
                span.rm-title Loft Doble 
                span.rm-size (38m²) 
                span.rm-ocupant(data-toggle='tooltip' data-placement='top' title='2 ocupantes')
                  i.fa.fa-user &nbsp;
                  i.fa.fa-user
              p.description Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              p 
                a.btn.btn-info(href='/habitacion' role='button') Ver más
      // Room #2  
      div.col-md-4.media-cont 
        div.thumbnail
          a.clean(href='/promociones')
            img.img-responsive(src='images/room/room2.jpg' alt='Loft Doble')
            div.caption
              a.ftitle(href='/habitacion' role='button')
                span.rm-title Loft Triple 
                span.rm-size (49m²) 
                span.rm-ocupant(data-toggle='tooltip' data-placement='top' title='3 ocupantes')
                  i.fa.fa-user &nbsp;
                  i.fa.fa-user &nbsp;
                  i.fa.fa-user
              p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris . 
              p
                a.btn.btn-info(href='/habitacion' role='button') Ver más
      // Room #3  
      div.col-md-4.media-cont 
        div.thumbnail
          a.clean(href='/promociones')
            img.img-responsive(src='images/room/room3.jpg' alt='Loft Doble')
            div.caption
              p
                span.rm-title Loft cuadruple 
                span.rm-size (62m²) 
                span.rm-ocupant(data-toggle='tooltip' data-placement='top' title='4 ocupantes')
                  i.fa.fa-user &nbsp;
                  i.fa.fa-user &nbsp;
                  i.fa.fa-user &nbsp;
                  i.fa.fa-user
              p.description Ut sodales blandit leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse mollis mattis ex sit amet convallis.
              p
                a.btn.btn-info(href='/habitacion' role='button') Ver más  
  include gallery.jade
  
block scripts   
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js')
  script(type='text/javascript' src='javascripts/locales/bootstrap-datepicker.es.js' charset='UTF-8')
  script(type='text/javascript' src='javascripts/datepicker-e.js')
  script(type='text/javascript' src='javascripts/index-map.js')
  script(type='text/javascript' src='https://maps.googleapis.com/maps/api/js?callback=initMap' async defer)
  script(type='text/javascript' src='//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js')
  script(type='text/javascript' src='javascripts/bootstrap-image-gallery.min.js')
