extends layout

block head
  link(rel='stylesheet', href='/stylesheets/datepicker.css')
  title Habitaciones - HTL Suica Hotel & Resort 
  script(type="text/javascript").
    var rooms = !{JSON.stringify(rooms)};
    console.log('rooms:' , rooms);
    var galeries = !{JSON.stringify(galeries)};
    console.log('galerias: ', galeries);      

block nav
  include nav.jade

block content
  div.hidden-xs
    // Search N
    include search_n.jade
  div.visible-xs
    // Search N
    include search.jade
  
  // Section Description
  div.container.content.styleb
    div.row
      div.col-xs-12.pb20
        p.sTitle Habitaciones
    div.row.grid
      each room in rooms
        div.col-sm-6.col-md-4.media-cont.grid-item
          div.thumbnail.fw-top
            div.top-media-img
              a(href='/habitacion' style='text-decoration: none;')
                img.img-responsive(src='https://ssmbooking.com/public/galerias/#{room.galeria.path}/#{room.galeria.fotos[1].archivo}' alt='#{room.galeria.fotos[1].nombre}')
            div.caption
              a(href='/habitacion' style='text-decoration: none;')
                p
                  span.rm-title= room.nombre + ' - '  
                  //#ToDo Incluir las dimensiones en el object
                  //span.rm-size (38m²)
                  span.rm-ocupant(data-toggle='tooltip' data-placement='top' title='#{room.adultos_max} mayores')
                    i.fa.fa-male &nbsp;
                    span #{room.adultos_max} 
                  if room.menores_max > 0
                    span.rm-ocupant(data-toggle='tooltip' data-placement='top' title='#{room.menores_max} menores')
                      i.fa.fa-child &nbsp;
                      span #{room.menores_max} 
                p.description= room.descripcion
              div.row.ptb10
                div.col-xs-6
                  a.btn.btn-info(href='/habitacion' role='button') Más info               
block scripts
  script(type='text/javascript' src='/javascripts/bootstrap-datepicker.min.js')
  script(type='text/javascript' src='/javascripts/locales/bootstrap-datepicker.es.js' charset='UTF-8')
  script(type='text/javascript' src='/javascripts/datepicker-e.js')
  script(type='text/javascript' src='/javascripts/masonry.pkgd.min.js')
  script(type='text/javascript' src='/javascripts/masonry.js')
